---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import Info from '../sections/Info.astro';

---

<Layout title="Rosa Pastell">
	<main class="max-w-5xl mx-auto p-4">
		<Hero />
		<Info />
		<Footer />
	</main>
</Layout>

