<section class="mt-10 flex justify-center">
  <div class="flex gap-x-10">
    <a
      href="https://www.instagram.com/rosapastell_/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/instagram-rosa.svg"
        alt="Rosa Pastell Logo"
        class="w-14 hover:scale-125 hover:opacity-75"
      />
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100011693950788"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/facebook-rosa.svg"
        alt="Rosa Pastell Logo"
        class="w-14 hover:scale-125 hover:opacity-75"
      />
    </a>
  </div>
</section>
