---
import Card from "../components/Card.astro";
---

<section class="my-10">
  <div class="block min-w-sm max-w-lg mx-auto">
    <Card title="Página web Rosa Pastell" url="https://www.rosapastell.com" />
    <Card
      title="Compras por WhatsApp (Detal)"
      url="https://api.whatsapp.com/send/?phone=573153488333&text&type=phone_number&app_absent=0"
    />
    <Card
      title="Compras por WhatsApp (Por Mayor)"
      url="https://api.whatsapp.com/send/?phone=573156082381&text&type=phone_number&app_absent=0"
    />
  </div>
</section>
